*{
    font-family: sans-serif;
}
#past {
    background-color: grey;
    width: 100vw;
    margin-left: 0.5rem;
    border-style: none;
}

#now {
    background-color: red
}

#future {
    background-color: green;
}

#container {
    display:flex;
    flex-direction: row;
    border-style: solid;
    border-color: black;
    margin-bottom: 0.5rem;
    
}

h1 {
    display:flex;
    justify-content: center;
}

h2 {
    display:flex;
    justify-content: center;
}